.info {
  font-family: Montserrat, sans-serif;
  text-align: center;
  color: white;
  padding-top: 3rem;
}

.info-h1 {
  text-transform: uppercase;
  font-size: 3.5rem;
  font-weight: 800;
}

#about {
  max-width: 1300px;
  font-family: Montserrat, sans-serif;
}

.card {
  border-radius: 0.8rem;
}

.bold {
  font-weight: 700;
}

.card-body {
  text-align: center;
}
.card-title {
  font-size: 2.5rem;
  color: #fa4d09;
  font-weight: 800;
}

.card-img-top {
  width: 70%;
  margin: 0 auto;
}

.middleCard {
  background-color: #fa4d09;
  height: 100%;
  width: 120%;
}

.rightCard,
.leftCard {
  width: 110%;
}

.middleCard .card-img-top {
  width: 85%;
}

.middleCard .card-title,
.middleCard .card-text ul {
  color: #fff;
}

.card-text ul {
  color: black;
  font-weight: 500;
  font-size: 1.8rem;
  padding-top: 1.3rem;
}

.test {
  position: relative;
  left: 20px;
}
