.firstBtn {
  font-family: Poppins, sans-serif;
  color: #00609c;
  border-top-left-radius: 2em;
  border-top-right-radius: 2em;
  border-bottom-left-radius: 2em;
  border-bottom-right-radius: 2em;
  background-color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
  width: 52%;
  padding: 1.5%;
}

.genericBtn {
  width: 33%;
  margin: 0 auto;
  padding: 0.5%;
  padding-bottom: 2rem;
  text-align: center;
  padding-bottom: 6rem;
}
