.footer {
  background-color: black;
  text-align: center;
  font-family: Poppins, sans-serif;
  font-size: 1.5rem;
  padding: 2rem;
}

.footer p,
a {
  padding-top: 1rem;
  color: white;
  font-weight: 600;
}

.copyright {
  padding-right: 25rem;
  padding-left: 8rem;
}

.aviso {
  padding-top: 1rem;
  text-decoration: underline;
}

.logo {
  padding-top: 1rem;
}

.ln,
.tw {
  margin-left: 1rem;
}
