.navbar-brand {
  padding-left: 10rem;
}

.container {
  padding-top: 2rem;
  margin-right: 200px;
  margin-left: 200px;
}

.right {
}

body {
  font-family: arial, ｍｓ ｐゴシック, ms pgothic, 돋움, dotum, helvetica,
    sans-serif;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-left: 200px;
}

span {
  color: #fa4d09;
}

.arrowDown {
  text-align: center;
}
