body {
  font-family: arial black, sans-serif;
}

.navbar-brand {
  padding-left: 10rem;
}

.row {
  margin: 0;
  padding-top: 3rem;
}

.left {
  text-align: right;
}

.right {
  padding-top: 7rem;
  width: 20px;
  text-align: left;
  max-width: 34%;
}

h1 {
  font-size: 4rem;
  font-weight: bold;
}

span {
  color: #fa4d09;
}

.button {
  padding-top: 2rem;
  text-align: center;
}

.arrowDown {
  padding-top: 3rem;
  text-align: center;
}
