#whyAtomic {
  height: auto;
  font-family: Montserrat, sans-serif;
  color: white;
}

.pros {
  text-align: center;

  font-size: 1.5rem;
}

.pros ul {
  list-style-image: url("../img/ic_check_tiny.png");
}

.pros li:before {
  margin-right: -5px;
}

.pros li {
  text-indent: 5px;
}

.table {
  background-color: white;
}
