#workingWithUs {
  font-family: Montserrat, sans-serif;
  padding-top: 3rem;
  text-align: center;
}

.peopleImg {
  width: 70%;
}

.container {
  max-width: 1300px;
  padding-bottom: 3.5rem;
  padding-top: -2rem;
}

.container p {
  font-size: 1.5rem;
}

.arrow-right {
  width: 30%;
}

.col-md-auto {
  width: 17%;
}

.genericBtn {
  width: 33%;
  margin: 0 auto;
  padding: 0.5%;
}
